{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Smart Learn - Smart Learners do it online....{% endblock %}

{% block content %}
<!-- Start of Async Drift Code -->

<!-- ===============//banner section start here \\================= -->
<section class="banner-section" style="background-image: url('{% static "assets/images/banner/bg.jpg" %}');">
    <div class="container">
        <div class="banner-wrapper">
            <div class="row align-items-center g-5">
                <div class="col-lg-6">
                    <div class="banner-content">
                        {% for item in welcome %}
                        <h1> <span class="theme-color">
                            </span>{{ item.title1 }} <span class="theme-color">
                                <br> {{ item.title2 }}</span>
                        </h1>

                        <p>
                            {{ item.motto }}
                        </p>
                        {% endfor %}
                        <div class="banner-btns d-flex flex-wrap">
                            <a data-blast="bgColor" href="{% url 'register' %}"
                                class="default-btn move-top"><span>REGISTER</span>
                            </a>
                            <a href="{% url 'school:grade_list' %}" class="default-btn move-right"><span>EXPLORE</span>
                            </a>

                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="nft-slider-wrapper">
                        <div class="banner-item-slider">
                            <div class="swiper-wrapper">
                                {% for item in slides %}
                                <div class="swiper-slide">
                                    <div class="nft-item home-3">
                                        <div class="nft-inner">
                                            <!-- nft top part -->
                                            <div class="nft-item-top d-flex justify-content-between align-items-center">

                                            </div>
                                            <!-- nft-bottom part -->

                                            <div class="nft-item-bottom">

                                                <div class="nft-thumb">
                                                    <img loading="lazy" src="{{ item.image.url }}" alt="nft-img">
                                                </div>
                                                <div class="nft-content">
                                                    <h4><a href="item-details.html">{{ item.title }}</a> </h4>
                                                    <div
                                                        class="price-like d-flex justify-content-between align-items-center">
                                                        <p class="nft-price">
                                                            {{ item.motto }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============//banner section end here \\================= -->

<br><br>
<!-- ===============//blog section start here \\================= -->
<section class="blog-section pb-120">
    <div class="container">
        <div class="section-header style-3">
            <div class="header-shape"><span></span></div>
            <h3>Explore The Classes</h3>
        </div>
        <div class="section-wrapper">

            <div class="blog-wrapper">
                <div class="row justify-content-center gx-4 gy-2">
                    {% for grade in grades %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-3 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb">
                                    <img src="{{ grade.image.url }}" alt="blog-img">
                                </div>
                                <div class="nft-content">
                                    <div class="author-details">
                                        <h4><a href="#">
                                                {{ grade.name }}
                                            </a>
                                        </h4>
                                        <p>{{ grade.description|truncatechars:75 }}</p>
                                        <div class="meta-info">
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'school:subject_list' slug=grade.slug %}"
                                                class="btn btn-primary" style="background-color:#00bcd4;">
                                                <p><span><i class="icofont-user" data-blast="color"></i></span>
                                                    Start Learning
                                                </p>
                                            </a>
                                            {%else%}
                                            <a href="{% url 'user_login' %}" class="btn btn-primary"
                                                style="background-color:#00bcd4;">
                                                <p><span><i class="icofont-user" data-blast="color"></i></span>
                                                    Login
                                                </p>
                                            </a>

                                            <a href="{% url 'register' %}" class="btn btn-primary"
                                                style="background-color:#00bcd4;">
                                                <p><span><i class="icofont-user" data-blast="color"></i></span>
                                                    Register
                                                </p>
                                            </a>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============//blog section end here \\================= -->



<!-- ===============//auction section start here \\================= -->
<section class="auction-section padding-bottom">
    <div class="container">
        <div class="section-header style-3">
            <div class="header-shape"><span></span></div>
            <h3>Meeting Our Highly Trained Staff</h3>
        </div>
       
        <div class="section-wrapper">
            <div class="auction-holder">
                <div class="swiper-wrapper">   
                    {% for teacher in teachers %}                 
                    <div class="swiper-slide">
                        <div class="nft-item home-3">   
                                               
                            <div class="nft-inner">   

                                <!-- nft top part -->
                                
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                                    <div class="author-part">
                                        <ul class="author-list d-flex">                                        
                                            <li class="single-author d-flex align-items-center">
                                                <h6><a href="#">{{ teacher.user.first_name }}</a></h6>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="more-part">
                                        <div class=" dropstart">
                                           
                                        </div>
                                    </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        {% if teacher.profile_pic %}
                                        <img src="{{ teacher.profile_pic.url|default_if_none:'#' }}" alt="No image found">
                                        {% endif %} 
                                    </div>
                                    <div class="nft-content">
                                        <h4><a href="item-details.html">
                                            {{ teacher.role }}
                                            </a> </h4>
                                        <div class="price-like d-flex justify-content-between align-items-center">
                                            <p class="nft-price">
                                                {{ teacher.bio|safe }}
                                            </p>                                        
                                        </div>
                                    </div>
                                </div> 
                                                          
                            </div> 
                                                 
                        </div>
                    </div>   
                    {% endfor %}     
                </div>
            </div>
        </div>
       
    </div>
</section>
<!-- ===============//auction section end here \\================= -->


    <!-- ===============//Exclusive drops section start here \\================= -->
    <section class="ex-drop-section padding-bottom">
        <div class="container">
            <div class="section-header style-3">
                <div class="header-shape"><span></span></div>
                <h3>Announcements Are Here</h3>
            </div>
          
            <div class="section-wrapper">
                <div class="ex-drop-wrapper">
                    <div class="row justify-content-center gx-4 gy-3"> 
                        {% for item in announcement %}
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="nft-item home-3">
                                <div class="nft-inner">
                                    <!-- nft top part -->
                                    <div class="nft-item-top d-flex justify-content-between align-items-center">
                                        <div class="author-part">
                                            <ul class="author-list d-flex">
                                                <li class="single-author d-flex align-items-center">                                        
                                                    <h6><a href="#">{{ item.subject }}</a></h6>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <!-- nft-bottom part -->
                                    <div class="nft-item-bottom">
                                        <div class="nft-thumb">
                                            {% if item.image %}
                                            <img loading="lazy" src="{{ item.image.url }}" alt="nft-img">
                                            {% endif %}                   
                                        </div>
                                        <div class="nft-content">
                                            <p>{{ item.about|safe }}</p>
                                            <div class="price-like d-flex justify-content-between align-items-center">
                                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                          
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
      
    </section>
    <!-- ===============//Exclusive drops section end here \\================= -->

        <!-- ===============//blog section start here \\================= -->
        <section class="blog-section pb-120">
            <div class="container">
                <div class="section-header style-3">
                    <div class="header-shape"><span></span></div>
                    <h3>Find UpComing Events Here</h3>
                </div>
                <div class="section-wrapper">
    
                    <div class="blog-wrapper">
                        <div class="row justify-content-center gx-4 gy-2">
                            {% for item in event %}
                            <div class="col-lg-4 col-sm-6">
                                <div class="nft-item home-3 blog-item">
                                    <div class="nft-inner">
                                        <div class="nft-thumb">
                                            {% if item.image %}
                                            <img src="{{ item.image.url }}" alt="blog-img">
                                            {% endif %}
                                        </div>
                                        <div class="nft-content">
                                            <div class="author-details">
                                                <h4><a href="#">
                                                    {{ item.subject }}
                                                </a>
                                                </h4>
                                                <p>{{ item.about|safe }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                
                            {% endfor %}                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===============//blog section end here \\================= -->
        

{% endblock %}