{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}

{% block content %}

    <!-- ==========Page Header Section Start Here========== -->
    <section class="page-header-section style-1">
        <div class="container">
            <div class="page-header-content">
                <div class="page-header-inner">
                    <div class="page-title">
                        <h2>Register</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Register </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page Header Section Ends Here========== -->


    <!-- ==========login Section start Here========== -->
    <div class="login-section padding-top padding-bottom">
        <div class=" container">
            <div class="row g-5 align-items-center flex-md-row-reverse">
                <div class="col-lg-5">
                    <div class="account-wrapper">
                      {% if registered %}
                      <h1>Welcome To Smart-Learn, You're Registered!</h1>
                      {% else %}
                        <h3 class="title"> Register</h3>
                        <p>On Username, No Need For Email-Address, Choose A Username</p>
                        <form  method="post" enctype="multipart/form-data" class="account-form">
                          {% csrf_token %}

                          {{ user_form|crispy }}
                          {{ profile_form|crispy }}

                            <div class="form-group">
                                <button class="d-block default-btn move-top"><span>Register Here</span></button>
                            </div>
                        </form>
                        {% endif %}

                        <div class="account-bottom">
                            <span class="d-block cate pt-10">
                              Already Have an Account? 
                              <a href="{% url 'user_login' %}"  class="btn btn-primary"
                              style="background-color:#00bcd4;">
                                Login
                              </a>
                            </span>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="account-img">
                        <img src="{% static 'assets/images/account/01.png' %}" alt="shape-image">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ==========Login Section ends Here========== -->

{% endblock content %}